data/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment
.env
.venv
env/
venv/
ENV/
*.env

# PyTorch
*.pt
*.pth
*.ckpt

# Data files
*.h5
*.hdf5
*.npz
*.npy
*.csv
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Test/coverage
htmlcov/
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json